:host {
    display: flex;
    flex: 1;
}
.photo-card {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #fafafa;
    margin: 20px;
    cursor: pointer;
}