$warn-color: #ff2b2b;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .photo {
        display: flex;
        flex: 1;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px;
    }
    
    .btn-warn {
        background: $warn-color;
        color: white;
        border: none;
        padding: 20px;
        margin-bottom: 20px;
    }
    .error {
        color: $warn-color;
        text-align: center;
        font-size: 1.5em;
        margin: 20px;
    }
}


