:host {
    display: flex;
    flex: 1;
    flex-direction: column;

    .viewport {
        height: 100%;
    }

    .gallery-row {
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: 1320px;
    }

    mat-spinner {
        margin: auto
    }

    .no-photos {
        text-align: center;
        font-size: 2em;
        opacity: 0.5;
        padding: 20px;
        margin-bottom: 20px;
    }
}