<cdk-virtual-scroll-viewport
  [itemSize]="imageHeight"
  class="viewport"
  (scrolledIndexChange)="scrollHandler()"
>
  <div
    *cdkVirtualFor="let chunk of photoList"
    class="gallery-row"
    [style.height]="imageHeight + 'px'"
  >
    <app-photo-card
      *ngFor="let p of chunk"
      [imageUrl]="p"
      (onClick)="photoClick.emit($event)"
    >
    </app-photo-card>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div class="no-photos" *ngIf="theEnd">No photos anymore</div>
</cdk-virtual-scroll-viewport>
